<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.denerosarmy.inventory"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.denerosarmy.inventory.Inventory"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value="com.denerosarmy.inventory.Search" />
        </activity>

        <activity 
            android:name="com.denerosarmy.inventory.Search"
            android:label="@string/app_name" >
            <intent-filter > 
                <action android:name="android.intent.action.SEARCH" /> 
            </intent-filter> 
            <meta-data android:name="android.app.searchable" 
                       android:resource="@xml/searchable" /> 
        </activity>

		<activity
        	android:name="com.denerosarmy.inventory.ItemCreate"
        	android:label="New Item"
        	android:parentActivityName="com.denerosarmy.inventory.Inventory"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
		    
        	<meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="com.denerosarmy.inventory.Inventory" />
    	</activity>
    </application>
</manifest>
