
<!DOCTYPE HTML>
<html lang="en"> 
	<head>
		<title>Hacks</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>
	</head>
	<body>
    
  <% for(var k=0; k<data['Members'].length; k++) {%>
		<div id="header">
			<div id="headercentre">
				<div style="left: 0px; margin-left: -0.5%;">
					<div class="title" name="."><%= data['Members'][k] %> </div>
				</div>
					
			</div>
		</div>
		
		
		<div id="content">
  <div class="grid" id="hackGrid">
  <% for(var i=0; i<data[data['Members'][k]].length; i++) {%>
   <div class="square link" name=projects/inventory-tgpfyd>
        <span><%= data[data['Members'][k]][i]['name'] %></span>
        
		<img src="http://<%= data[data["Members"][k]][i]['name'] %>icon.jpg.to" width="170",height="170">
		
        <div class="squaretext"></div>
      </div>
 <% } %>
        </div>
</div>

 <% } %>
		
	</body>
</html>
